//COLORS
$color-green-medium: #04a83d;
$color-green-light: #e5f5e4;
$color-green-dark: #028831;

$color-medium-yellow: #f8e55c;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #545353;
$color-grey-medium: #afafaf;
$color-grey-light: #f6f4f1;

$color-brown-dark: #583c3c;

//GRID
$grid-width: 114rem; //1140px
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

//FONTS

$default-font-size: 1.6rem;